html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#sketch-container {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  z-index: 1;
}
